@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
  margin: 0;
  padding: 0;
    font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://images.unsplash.com/photo-1485841890310-6a055c88698a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-attachment: fixed;
  background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100%;
}

code {
  font-family: 'Montserrat', sans-serif;
}

.entries_id, .entries_button{
  display: inline-block;
}

.entries_button{
  margin-left: 10px;
  border-radius: 12px;
}

.entries_button:hover{
  background-color: #4CAF50;
  color: white;
}

#habit_form {
  margin: 25px 50px 75px;
  padding-left: 200px;
  padding-right: 200px;
}

#dashboard {
  margin: 25px 50px 75px;
}

#login_div, #signup_div {
  margin: 25px 50px 75px;
  padding-left: 350px;
  padding-right: 350px;
}

#logo {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 40px;
  margin: 25px;
}

#logo-post-login {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#register_here{
  text-align: center;
}

#header{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#navbar{
  background-color: rgba(255,255,255,0.5);
}

#dropdown {
  background-color: rgba(255,255,255,0.5);
}

#habit_description{
    margin: 25px 50px 75px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

#your_habits{
  margin: 25px 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

#habit_description{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

#habit_card_desc{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: center;
}

#habit_header{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}


.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
  margin: 40px 50px 75px;
  padding-left: 100px;
}

#ui_checkbox{
  padding: 10px;
}

#explanation{
  margin: 4px 5px 7px;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}

#explanation_tag{
  font-size: 18px;
}

.dropbtn {
  /* color: white; */
  background-color: #f1f1f1;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
